In [463]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections

In [464]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
307,tt0465580,38000000,45465299,Push,Dakota Fanning|Camilla Belle|Chris Evans|Djimo...,Paul McGuigan,One push can change everything.,"After his father, an assassin, is brutally mur...",111,Action,Icon Productions|Infinity Features Entertainme...,2/6/2009,5.8,2009
1150,tt0304711,35000000,11560806,The Order,Heath Ledger|Shannyn Sossamon|Benno FÃ¼rmann|M...,Brian Helgeland,Every soul has its price.,"For centuries, a secret Order of priests has e...",102,Drama|Fantasy|Horror|Mystery|Romance,Twentieth Century Fox Film Corporation|N1 Euro...,9/5/2003,4.8,2003
479,tt0455407,20000000,54956140,The Crazies,Timothy Olyphant|Radha Mitchell|Joe Anderson|D...,Breck Eisner,Fear Thy Neighbor,Four friends find themselves trapped in their ...,101,Mystery|Horror|Action,Penn Station Entertainment|Participant Media|I...,2/26/2010,6.1,2010
404,tt1375670,80000000,271430189,Grown Ups,Adam Sandler|Salma Hayek|Maria Bello|Steve Bus...,Dennis Dugan,Boys will be boys. . . some longer than others.,After their high school basketball coach passe...,102,Comedy,Columbia Pictures|Happy Madison Productions|Re...,6/24/2010,6.1,2010
694,tt1031969,15000000,8762890,The Rocker,Rainn Wilson|Josh Gad|Christina Applegate|Emma...,Peter Cattaneo,Opportunity rocks.,"Rob ""Fish"" Fishman is the drummer in '80s hair...",102,Comedy|Music,Fox Atomic,8/20/2008,5.4,2008

In [465]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [466]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
#создание столбца profit задание 6
data['profit'] = data.revenue-data.budget 


# функция для поиска поулярного жанра задание 11
def popular_gen(data): 
    df = data.genres.apply(lambda s:s.split('|')) #ф-ия получает DataFrame, берет столбец жанров и преобразует содержимое в серию списков
    genres_list=[]
    for genres in df:
        for genre in genres:
            genres_list.append(genre) #заполняем пустой список всеми жанрами с их повтором
    genres_dict = {i:genres_list.count(i) for i in genres_list} #генерируем словарь, где ключи - жанр, а значения - кол-во повторений
    max_val = 0
    for genre,value in genres_dict.items(): # цикл для определения наиболее популярного жанра
        if value > max_val:
            max_val = value
            max_genre = genre           
    return max_genre


# функция для создания пар задание 27
def combinations_couple(actors):
    list1=[]
    for i in range (0, len(actors)):
        list2=[]
        list2.append(actors[i])
        for j in range (i+1,len(actors)):
            if len(list2) < 2:
                list2.append(actors[j])
                list1.append(list2)
            else:
                list3=[]
                list3.append(actors[i])
                list3.append(actors[j])
                list1.append(list3)
    couple_actors_list=[]
    for i in range (0, len(list1)):
        couple_actors=tuple(list1[i])
        couple_actors_list.append(couple_actors)
    return couple_actors_list

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [467]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1.Pirates of the Caribbean: On Stranger Tides (tt1298650)'#+
# если ответили верно, можете добавить комментарий со значком "+"

In [468]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()] #можно было добавить ещё условие по именам из списка,но в данном случае не пригодилось

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [469]:
# можно добавлять разные варианты решения
data[['original_title','budget']].sort_values(by='budget', ascending=False)

                                   original_title     budget
723   Pirates of the Caribbean: On Stranger Tides  380000000
1669     Pirates of the Caribbean: At World's End  300000000
14                        Avengers: Age of Ultron  280000000
1014                                  John Carter  260000000
380                                       Tangled  260000000
...                                           ...        ...
885               National Lampoonâ€™s Van Wilder    5000000
892                      My Big Fat Greek Wedding    5000000
1071                        Paranormal Activity 4    5000000
911                            Jackass: The Movie    5000000
1216                              Spring Breakers    5000000

[1889 rows x 2 columns]

# 2. Какой из фильмов самый длительный (в минутах)?

In [470]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'#+

In [471]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [472]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'#+

In [473]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [474]:
answers['4'] = '4. Средняя длительность фильмов 110 минут)'#+

In [475]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [476]:
answers['5'] = '5. Медианное значение длительность фильмов 107 минут)'#+

In [477]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [478]:
answers['6'] = '6. Avatar (tt0499549)'#+

In [479]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [480]:
answers['7'] = '7. The Lone Ranger (tt1210819)'#+

In [481]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [482]:
answers['8'] = '8. 1478 фильмов вышли в плюс'#+

In [483]:
data.original_title[data.profit > 0].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [484]:
answers['9'] = '9. The Dark Knight (tt0468569)'#+

In [485]:
# Вариант 1 не увидел столбец release year
movies_in_2008=data[data.release_date.str.contains('2008')]#оставляем строки соотв-ие 2008 году 
movies_in_2008[movies_in_2008.revenue == movies_in_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [486]:
# Вариант 2
movies_in_2008=data[data.release_year == 2008]
movies_in_2008[movies_in_2008.revenue == movies_in_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [487]:
answers['10'] = '10. The Lone Ranger (tt1210819)'#+

In [488]:
# Вариант 1 не увидел столбец release year
all_movies = data.copy()
all_movies.release_date = all_movies.release_date.apply(lambda year: int(year[-4:]))#редактирем столбец release_date, чтобы в нем остался только год
movies_in_12_14 = all_movies[(all_movies.release_date >= 2012) & (all_movies.release_date <= 2014)]
movies_in_12_14[movies_in_12_14.profit == movies_in_12_14.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013,6.0,2013,-165710090

In [489]:
# Вариант 2
movies_in_12_14 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
movies_in_12_14[movies_in_12_14.profit == movies_in_12_14.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [490]:
answers['11'] = '11. Drama'#+

In [491]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
popular_gen(data) #ф-ия расписана в предобработке

'Drama'

ВАРИАНТ 2

In [492]:
movies_genre_popular = collections.Counter() # второе решение с использованием модуля collections
df = data['genres'].str.split('|') #  используем словарь, который позволяет нам считать количество неизменяемых объектов.
for genres in df:
    for genre in genres:
        movies_genre_popular[genre] += 1
movies_genre_popular.most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [493]:
answers['12'] = '12. Drama'#+

In [494]:
gen_profit_max = collections.Counter() #решение аналогично Задаче 11
profit_movies = data[data['profit'] > 0]['genres'].str.split('|')
for profit_genres in profit_movies:
    for profit_genre in profit_genres:
        gen_profit_max[profit_genre] += 1 
gen_profit_max.most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [495]:
answers['13'] = '13. Peter Jackson'#+

In [496]:
dir_sum_rev = data[['director', 'revenue']].copy() # копируем DataFrame с необходимыми столбцами
dir_sum_rev.director = dir_sum_rev.director.str.split('|') # преобразуем данные столбца "director" в список
dir_sum_rev = dir_sum_rev.assign(director = dir_sum_rev['director']).explode('director') # создаем новые строки, путем выноса элементов из списков в колонке director 
dir_sum_rev = dir_sum_rev.groupby(['director']).sum().reset_index().sort_values(['revenue'],ascending=False) # суммируем значение колонки revenue для одинаковых элементов из колонки director 
dir_sum_rev[dir_sum_rev.revenue == dir_sum_rev.revenue.max()]

          director     revenue
727  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [497]:
answers['14'] = '14. Robert Rodriguez'#+

In [498]:
actions = data[data.genres.str.contains('Action')] #решение аналогично Задаче 11
actions = actions['director'].str.split('|')
most_actions_dir = collections.Counter()
for directors in actions:
    for director in directors:
        most_actions_dir[director] += 1
most_actions_dir.most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [499]:
answers['15'] = '15. Chris Hemsworth'#+

In [500]:
most_rev_actor = data[['cast', 'revenue', 'release_year']].copy() #решение аналогично Задаче 13
most_rev_actor = most_rev_actor[most_rev_actor.release_year == 2012]
most_rev_actor.cast = most_rev_actor.cast.str.split('|')
most_rev_actor = most_rev_actor[['cast', 'revenue']]
most_rev_actor = most_rev_actor.assign(cast = most_rev_actor['cast']).explode('cast')
most_rev_actor = most_rev_actor.groupby(['cast']).sum().reset_index().sort_values(['revenue'],ascending=False)
display(most_rev_actor)
most_rev_actor[most_rev_actor.revenue == most_rev_actor.revenue.max()]

                  cast     revenue
77     Chris Hemsworth  2027450773
110        Denis Leary  1629460639
30       Anne Hathaway  1522851057
371  Robert Downey Jr.  1519557910
286       Mark Ruffalo  1519557910
..                 ...         ...
314    Michael Nyqvist     3428048
101       Danny Huston     2106557
227         Josh Lucas     2106557
392         Sami Gayle     2106557
330       Nicolas Cage     2106557

[466 rows x 2 columns]

               cast     revenue
77  Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [501]:
answers['16'] = '16. Matt Damon'#+

In [502]:
actors_in_movies = collections.Counter() #решение аналогично Задаче 11
actors = data[data.budget > data.budget.mean()].cast.str.split('|').copy()
for names in actors:
    for name in names:
        actors_in_movies[name] += 1
        
actors_in_movies.most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [503]:
answers['17'] = '17. Action'#+

In [504]:
Nicolas_Cage_movies = data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').copy() #решение аналогично Задаче 11
most_genre = collections.Counter()
for genres in Nicolas_Cage_movies:
    for genre in genres:
        most_genre[genre] += 1
        
most_genre.most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [505]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'#+

In [506]:
detrim_mov = data[data.production_companies.str.contains('Paramount Pictures')]
detrim_mov[detrim_mov.profit == detrim_mov.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [507]:
answers['19'] = '19. 2015'#+

In [508]:
success_years = data[['release_year', 'revenue']].copy() #решение аналогично Задаче 13
success_years = success_years.groupby(['release_year']).sum().reset_index().sort_values(['revenue'],ascending=False)
success_years[success_years.revenue == success_years.revenue.max()]

    release_year      revenue
15          2015  25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [509]:
answers['20'] = '20. 2014'#+

In [510]:
success_years_WB = data[data.production_companies.str.contains('Warner Bros')] #решение аналогично Задаче 13
success_years_WB = success_years_WB[['release_year', 'profit']].copy()
success_years_WB = success_years_WB.groupby(['release_year']).sum().reset_index().sort_values(['profit'],ascending=False)
success_years_WB[success_years_WB.profit == success_years_WB.profit.max()]

    release_year      profit
14          2014  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [511]:
answers['21'] = '21. 9 месяц, сентябрь '#+

In [512]:
mov_in_month = data.copy() # копируем DataFrame
mov_in_month['month'] = mov_in_month.release_date.apply(lambda s:s.split('/')[0]) # создаем новую колонку "month"
mov_in_month = mov_in_month.month.value_counts().reset_index() # подсчитываем сколько раз встречаются те или иные месяца
mov_in_month.columns = ['month', 'film_count']
mov_in_month[mov_in_month.film_count == mov_in_month.film_count.max()]

  month  film_count
0     9         227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [513]:
answers['22'] = '22. 450'#+

In [514]:
mov_in_month[(mov_in_month.month == '6')|(mov_in_month.month == '7')|(mov_in_month.month == '8')].film_count.sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [515]:
answers['23'] = '23. Peter Jackson'#+

In [516]:
winter_mov = data.copy()
winter_mov['month'] = winter_mov.release_date.apply(lambda s:int(s.split('/')[0]))
winter_mov = winter_mov[(winter_mov.month == 1)|(winter_mov.month == 2)|(winter_mov.month == 12)]# оставляем в DataFrame только данные за зиму
winter_mov = winter_mov['director'].str.split('|') #решение аналогично Задаче 11
winter_mov_dir = collections.Counter() 
for directors in winter_mov:
    for director in directors:
        winter_mov_dir[director] += 1
        
winter_mov_dir.most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [517]:
answers['24'] = '24. Four By Two Productions'#+

In [518]:
len_title = data[['original_title', 'production_companies']].copy() #копируем необходимые колонки 
len_title.original_title = len_title.original_title.apply(lambda s:len(s)) #редактируем колонку 'original_title', чтобы получить длину названия
len_title.production_companies = len_title.production_companies.str.split('|')#решение аналогично Задаче 13 за одним исключением
len_title = len_title.assign(production_companies = len_title['production_companies']).explode('production_companies')
len_title = len_title.groupby(['production_companies']).mean().reset_index().sort_values(['original_title'],ascending=False)#используем .mean , а не .sum
display(len_title)
len_title[len_title.original_title == len_title.original_title.max()]

            production_companies  original_title
583      Four By Two Productions            83.0
817      Jim Henson Company, The            59.0
446                Dos Corazones            47.0
1258                Polsky Films            46.0
1094   Museum Canada Productions            46.0
...                          ...             ...
512        Everest Entertainment             3.0
169         Berlanti Productions             3.0
624   Global Entertainment Group             2.0
1748             XM2 Productions             2.0
803           Ixtlan Productions             2.0

[1771 rows x 2 columns]

        production_companies  original_title
583  Four By Two Productions            83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [519]:
answers['25'] = '25. Midnight Picture Show'#+

In [520]:
len_overview = data[['production_companies', 'overview']].copy() #решение аналогично Задаче 24
len_overview.overview = len_overview.overview.apply(lambda s:len(s.split(' ')))
len_overview.production_companies = len_overview.production_companies.str.split('|')
len_overview = len_overview.assign(production_companies=len_overview['production_companies']).explode('production_companies')
len_overview = len_overview.groupby(['production_companies']).mean().reset_index().sort_values(['overview'],ascending=False)
display(len_overview)
len_overview[len_overview.overview == len_overview.overview.max()]

                       production_companies  overview
1041                  Midnight Picture Show     175.0
691          Heineken Branded Entertainment     161.0
1355                   Room 9 Entertainment     161.0
22                       98 MPH Productions     159.0
231        Brookwell-McNamara Entertainment     156.0
...                                     ...       ...
694                              Henceforth      13.0
1175                      Our Stories Films      13.0
934                        London Boulevard      13.0
1079  Motion Picture Corporation of America      11.0
492                         Empire Pictures      11.0

[1771 rows x 2 columns]

       production_companies  overview
1041  Midnight Picture Show     175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [521]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'#+

In [522]:
best_movies = data[['original_title','vote_average']].copy()
best_movies.sort_values(['vote_average'],ascending=False).head(18)
#очень странная формулировка задачи. Я понял, что 1% от всех фильмов. 
#то есть нужно отсортировать по убыванию рейтинга, и вывести 1% от 1889 фильм на экран
#следовательно 1889*0,01=18,89

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [523]:
answers['27'] = '27. Daniel Radcliffe, Rupert Grint'#+

In [524]:
from itertools import combinations
df = data[['original_title','cast']].copy() # копируем необходимые столбцы
df.cast = df.cast.str.split('|') # преобразовываем содержимое колонки 'cast' в список
actors = df.cast # создаем серию содержащую список актеров в каждом фильме
couple = actors.apply(lambda s: list(combinations(s,2))).reset_index() # создаем DataFrame, содержащий комбинации пар актеров для каждого фильма в отдельности
couple.columns = ['movie_index', 'cast'] # задаем название колонок для созданного DataFrame
couple=couple.assign(cast=couple['cast']).explode('cast') # создаем DataFrame, в колонке которого содержаться пары
couple.cast.value_counts() #считаем кол-во повторов

(Daniel Radcliffe, Emma Watson)              8
(Daniel Radcliffe, Rupert Grint)             8
(Rupert Grint, Emma Watson)                  7
(Johnny Depp, Helena Bonham Carter)          6
(Ben Stiller, Owen Wilson)                   6
                                            ..
(Helen Hunt, Paul Sanchez)                   1
(Cedric the Entertainer, Keke Palmer)        1
(Rosario Dawson, Wilson Jermaine Heredia)    1
(Rob Schneider, Sean Astin)                  1
(Johnny Depp, Kate Winslet)                  1
Name: cast, Length: 18121, dtype: int64

ВАРИАНТ 2

In [525]:
# решение аналогично первому варинту
df = data[['original_title','cast']].copy() 
df.cast = df.cast.str.split('|')
actors = df.cast
couple=actors.apply(combinations_couple).reset_index() #ф-ия combinations_couple в предоработке
couple.columns = ['movie_index', 'cast']
couple=couple.assign(cast=couple['cast']).explode('cast')
couple.cast.value_counts()

(Daniel Radcliffe, Emma Watson)              8
(Daniel Radcliffe, Rupert Grint)             8
(Rupert Grint, Emma Watson)                  7
(Johnny Depp, Helena Bonham Carter)          6
(Ben Stiller, Owen Wilson)                   6
                                            ..
(Helen Hunt, Paul Sanchez)                   1
(Cedric the Entertainer, Keke Palmer)        1
(Rosario Dawson, Wilson Jermaine Heredia)    1
(Rob Schneider, Sean Astin)                  1
(Johnny Depp, Kate Winslet)                  1
Name: cast, Length: 18121, dtype: int64

# Submission

In [526]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1.Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. Средняя длительность фильмов 110 минут)',
 '5': '5. Медианное значение длительность фильмов 107 минут)',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478 фильмов вышли в плюс',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. 9 месяц, сентябрь ',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe, Rupert Grint'}

In [527]:
# и убедиться что ни чего не пропустил)
len(answers)

27